In [1]:
x = 5 
y = 10.3
print('x')
print(y)
print(x,y)

x
10.3
5 10.3

In [4]:
a = "Icode"
b = 'Guru,'
print(a,b)
print(a,',',b)   #Shortcut ctrl + /

Icode Guru,
Icode , Guru,

In [9]:
a = "Icode"
b = "Guru,"
print(a,b)
print(a,',',b)

Icode Guru,
Icode , Guru,

In [10]:
myvariable = "Python"
print("myvariable")

myvariable

In [11]:
myvariable = "Python"
print(myvariable)

Python

In [18]:
_myVar5 = "iTasawar"
myVariableName = 95                 
MyVariableName = 'Pakistan'         
myVariableName = 88.5 
print(myVariableName)

88.5

In [17]:
_myVar5 = "iTasawar"
myVariableName = 95                 
MyVariableName = 'Pakistan'         
MYVariableName = 88.5 
print(myVariableName)

95

In [19]:
_myVar5 = "iTasawar"
myVariableName = 95                 
MyVariableName = 'Pakistan'         
myVariableName = 88.5 
print(_myVar5)

iTasawar

In [20]:
a = 10
a = 5
print(a)

5

In [23]:
camelCase = 100
snake_case = 5.9
PascalCase = "Python"
print(camelCase)

100

In [24]:
camelCase = 100
snake_case = 5.9
PascalCase = "Python"
print(snake_case)

5.9

In [25]:
camelCase = 100
snake_case = 5.9
PascalCase = "Python"
print(PascalCase)

Python

In [26]:
x, y, z = "Orange", 5, "Apple"
print(x)
print(y)
print(z)

Orange
5
Apple

In [27]:
x, y, z = "Orange", 5, "Apple"
print(x)
print(y)
print(z)
a , b = 5 , 8
print(a)
print(b)

Orange
5
Apple
5
8

In [28]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [29]:
x = y = z = "Orange"
print(x)
print(y)
print(z)
a = b = c = 1
print(a)
print(b)
print(c)

Orange
Orange
Orange
1
1
1

In [30]:
#b = 45
print(b)

1

In [31]:
b = 45
print(b)

45

In [32]:
x , y, z , a = 5 , 6, 7  , 8
print(x)
print(y)
print(z)

5
6
7

In [33]:
x = 5
y = 5
x = 10
print(x)
print(y)
print(id(x))
print(id(y))

10
5
9793376
9793216

In [36]:
x = 5
y = 10
z = 15
print(x)
print(y)
print(z)
print(id(x))
print(id(y))
print(id(z))

5
10
15
9793216
9793376
9793536

In [35]:
x = "Hello"
print(id(x))
y = "Hello1"
print(id(y))

140557591211824
140557591723568

In [37]:
string_var = "Programming"
first_var = 20
float_var = 18.23
bool_var = False

print(string_var)
print(first_var)
print(float_var)
print(bool_var)

Programming
20
18.23
False

In [38]:
Var1 = 5
var1 = 1
print(var1)
print(Var1)

1
5

In [39]:
Var1 = 5
var1 = 1
print(var1)
print(Var1)
var2 = 2.5
print(type(var2))

1
5
<class 'float'>

In [40]:
Var1 = 5
var1 = 1
print(var1)
print(Var1)
var2 = 2.5
print(type(var2))
var3 = """Hello"""
print(type(var3))

1
5
<class 'float'>
<class 'str'>

In [41]:
Var1 = 5
var1 = 1
print(var1)
print(Var1)
var2 = 2.5
print(type(var2))
var3 = """Hello"""
print(type(var3))
var4 = True
print(type(var4))

1
5
<class 'float'>
<class 'str'>
<class 'bool'>

In [42]:
first = "105"
print(type(first))

<class 'str'>

In [44]:
first = "105"
print(type(first))
first = int(first)
print(first)

<class 'str'>
105

In [45]:
first = "105"
print(type(first))
first = int(first)
print(first)
print(type(first))

<class 'str'>
105
<class 'int'>

In [46]:
first = "105"
print(type(first))
first = int(first)
print(first)
print(type(first))
second = 90.8
third = str(second)
print(third)
print(type(third))

<class 'str'>
105
<class 'int'>
90.8
<class 'str'>

In [47]:
string = False
string1 = str(string)
print(string1)
print(type(string1))

False
<class 'str'>

In [48]:
integer = 6
boolean = bool(integer)
print(boolean)

True

In [49]:
boolean = True
integer = int(boolean)
print(integer)

1

In [50]:
boolean = False
integer = int(boolean)
print(integer)

0

In [54]:
x = int(input("Enter anything"))
print(x + 5)
print(type(x))

Enter anything3
8
<class 'int'>

In [57]:
print('My name is Tasawar.')
a = "6"

My name is Tasawar.

In [59]:
print('My name is Tasawar.')
a = "6"
print(a)

My name is Tasawar.
6

In [60]:
x = "Python is"
X = bool(x)
print(X)
print(type(X))

True
<class 'bool'>

In [63]:
x = ""
X = bool(x)
print(X)
print(type(X))

False
<class 'bool'>

In [64]:
a = int(input("Enter username: "))
print(a)
print(type(a))
print(a+2)

Enter username: 4
4
<class 'int'>
6

In [65]:
print(8.0+4)

12.0

In [68]:
#Addition
a = int(input("Enter a number "))
b = 4
c = a + b
print(c)
print(type(c))

Enter a number 6
10
<class 'int'>

In [71]:
#Subtraction
a = 4
b = 2

print(a - b)
print(type(a - b))

2
<class 'int'>

In [72]:
#Multiplication
a = 2.0
b = 4
print(a*b)
print(type(a*b))

8.0
<class 'float'>

In [73]:
#Multiplication
a = 2
b = 4
print(a*b)
print(type(a*b))

8
<class 'int'>

In [76]:
#Division
x = 15
y = 5
z = x/y   #12/5
print(z)
print(type(z))

3.0
<class 'float'>

In [79]:
#Division
x = 15
y = 5
z = x/y   #12/5
print(z)
print(type(z))
var = int(z)
print(var, type(var))

3.0
<class 'float'>
3 <class 'int'>

In [80]:
#Floor Division
x = 5
y = 5
z = x//y
print(z)
print(type(z))

1
<class 'int'>

In [82]:
#Floor Division
x = 5
y = 5
z = x//y
print(z)
print(type(z))
var = float(z)
print(var, type(var))

1
<class 'int'>
1.0 <class 'float'>

In [83]:
print(-3/2)

-1.5

In [84]:
#Exponentiation or Exponential
x = 5
y = 2   # 5 raised to power 2, 5*5
print(x**y)  # 1st value = base, 2nd value = power
print(type(x**y))

25
<class 'int'>

In [88]:
#Modulus
x = 15
y = 5
print(x%y)
print(type(x%y))

0
<class 'int'>

In [90]:
#Modulus
x = 15
y = 5
print(x/y)
print(type(x/y))

3.0
<class 'float'>

In [91]:
print(4 * 3 + 2 / 2)
# BODMAS

13.0

In [92]:
#print('comment')
a = """mulitiline
comment
""
''
lsdfh"""
print(a)

mulitiline
comment
""
''
lsdfh

In [95]:
x = 5
#x += 3    # x = x+3
#x -= 3      # x = x - 3
#x *= x       # x = 5*5
#x /= 3        # x = x/3
#x %= 3
#x //= 3
x **= 2     
print(x)

25

In [101]:
x = 8
#x += 3    # x = x+3
#x = x - 3
x = x*5
#x /= 3        # x = x/3
#x %= 3
#x //= 3
#x **= 3       
print(x)

40

In [105]:
a = 7
b = 10
#print(a!=b)
print(a==b)
#print(a<b)

False